<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <title>Kevin Bacon</title>
    <link href="/stylesheets/styles-38dda2fa.css" media="screen" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Old+Standard+TT:400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:400,800italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
    <script src="/javascripts/all-da39a3ee.js" type="text/javascript"></script>
  </head>
  <body class='disambiguate'>
    <div id='container'>
      <h1><a href="/">Kevin Bacon</a></h1>
      <h2><a href="/">find any old bacon number</a></h2>
      <div id='disambiguate'>
        <h2>Did you mean one of these?</h2>
        <ul>
          <li>
                  <a href="#">Mertie Effertz
            <span>&rarr;</span>
            Burley Ortiz
            </a>
      
          </li>
          <li>
                  <a href="#">Andre Keeling
            <span>&rarr;</span>
            Gerry Rippin
            </a>
      
          </li>
          <li>
                  <a href="#">Cielo Nicolas
            <span>&rarr;</span>
            Earnest McKenzie
            </a>
      
          </li>
          <li>
                  <a href="#">Landen Crist
            <span>&rarr;</span>
            Ms. Jaquan Blick
            </a>
      
          </li>
        </ul>
      </div>
      <h2>Or you can try a new search, if you like</h2>
      <form>
        <fieldset>
          <dl>
            <dt>
              <label>Choose an actor</label>
            </dt>
            <dd>
              <input autocapitalize='off' autocomplete='off' autocorrect='off' spellcheck='false' type='text'>
            </dd>
            <dt>
              <label>Choose another actor</label>
            </dt>
            <dd>
              <input autocapitalize='off' autocomplete='off' autocorrect='off' spellcheck='false' type='text'>
            </dd>
          </dl>
        </fieldset>
        <fieldset class='actions'>
          <input type='submit' value='calculate'>
        </fieldset>
      </form>
    </div>
    <footer>
      <p>Created by <a href="http://twitter.com/joshuadavey">@joshuadavey</a> with Clojure and Datomic</p>
      
      <p>Design by <a href="http://twitter.com/camerondaigle">@camerondaigle</a></p>
      
      <p>Information courtesy of <a href="http://www.imdb.com">IMDb</a>. Used with permission.</p>
    </footer>
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-49792900-1']);
      _gaq.push(['_trackPageview']);
      
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
